@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
div#nav-bar{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgb(240, 34, 34);
    z-index: 99;
    height: 80pt;
    box-shadow: 2px 2px 2px 1px black;
    
}
body{
    background-color: rgb(235, 231, 231);
    padding: 0pt;
    margin: 0pt;
   
}
h1{
    margin: auto 20px auto 480px;
    font-weight: bold;
    font-size: 60pt;
    font-family: 'Chela One', cursive;
    color: white;
    text-shadow: 2pt 2pt 2pt  black;
}
footer#rodape{
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 40pt;
    position: absolute;
    bottom: 0pt;
    box-shadow: 2pt 2pt 2pt 2pt grey;
}
td{
    padding-left: 5pt;
    padding-right: 5pt;
    font-weight: bolder;
    font-family: 'Chela One', cursive;
    font-size: 20pt;
    text-shadow: 1t 1pt 1pt white;
}
table{
    margin-left: 50pt;
    margin-top: 5pt;
}
input#enviar{
    display: block;
    position: absolute;
    top: 410pt;
    left: 140pt;
}
input#nova{
    position: absolute;
    top: 400pt;
    left: 600pt;

}
input.botao{
    font-size: 15pt;
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-width: 3pt;
    border-color: blue;
    border-radius: 5pt;
    padding: 6pt;
    cursor: pointer;
}
input.botao:hover{
    transition: 1s;
    background-color: blue;
    color: white;
    text-shadow: 1pt 1pt 1pt black;
}
div#boneco{
    position: absolute;
    height: 330pt;
    width: 280pt;
    background-image: url("imagens/floresta.jpg");
    top: 100pt;
    left: 720pt;
    border-radius: 10pt;
    border-width: 3pt;
    border-color: navy;
    border-style: solid;
}
div#base-forca{
    background-color: rgb(94, 31, 3);
    width: 70pt;
    height: 10pt;
    position: absolute;
    border-radius: 2pt;
    top: 320pt;
    left: 200pt;
}
div#lastro-forca{
    position: absolute;
    height: 280pt;
    width: 10pt;
    background-color: rgb(94, 31, 3);
    top: 45pt;
    left: 250pt;
}
div#corda{
    position: absolute;
    width: 160pt;
    height: 10pt;
    border-radius: 5pt;
    background-color: rgb(94, 31, 3);
    top: 35pt;
    left: 110pt;


}
img#cabeça{
    position: relative;
    width: 100pt;
    height: 100pt;
    top: 45pt;
    left: 80pt;
}
img#braço-d{
    position: absolute;
    top: 141pt;
    left: 155pt;
    height: 60pt;
    width: 30pt;
   
      
}
img#braço-e{
    position: absolute;
    top: 142pt;
    left: 75pt;
    height: 60pt;
    width: 25pt;
   
}
img#corpo{
    position: absolute;
    height: 70pt;
    width: 61pt;
    top: 145pt;
    left: 98pt;
 
}
img#perna-e{
    position: absolute;
    height: 30pt;
    width: 30pt;
    top: 210pt;
    left: 102pt;
}
img#perna-d{
    position: absolute;
    height: 30pt;
    width: 30pt;
    top: 208pt;
    left: 128pt;
}
input#resposta{
    position: absolute;
    top: 380pt;
    left: 50pt;
    height: 40pt;
    width: 30pt;
    border-radius: 10pt;
    font-size: 40pt;
    padding: 10pt 10pt 10pt 20pt;
    font-weight: bolder;
    box-shadow: 1pt 1pt 1pt 1pt black;
    border-color: blue;
    border-style: double;
}
input.letra{
    display: inline-block;
    width: 30pt;
    height: 40pt;
    border-radius: 5pt;
    padding-left: 10pt;
    box-shadow: 1px 1px 1px 1px black;
    margin-left: 5pt;
    opacity: 0;
    font-weight: bolder;
    padding-left: 15pt;
    font-size: 25pt;
    font-family: 'Chela One', cursive;

}
div#letras{
    position: absolute;
    top: 150pt;
    left: 10pt;
}
div#texto-dica{
    position: absolute;
    top: 350pt;
    left: 350pt;
    width: 150pt;
    border-radius: 5pt;
    background-color: black;
    background-color: white;
    border-style: dotted;
    border-color: rgb(68, 68, 230);
    border-width: 3pt;
    padding: 10pt 10pt 10pt 15pt;
    font-size: 15pt;
    font-weight: bolder;
    font-family: 'Chela One', cursive;
    opacity: 0;
}
input#dica{
    position: absolute;
    top: 400pt;
    left: 540pt;
}
td.direito{
    font-size: 25pt;
    color: blue;
    text-shadow: 1pt 1pt 1pt white;
    font-family: 'Squada One', cursive;
}
img{
    opacity: 0;
}
